
.carousel-indicators button {
  background-color: #1b0122;
}

.carousel-indicators button.active {
  background-color: #1b0122;
}

/* Carousel */

.carousel-item {
  transition: transform 1.2s ease-in-out !important;
  height: 630px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-img {
  height: 100%;
  width: 100%;
  display: block;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #1b0122;
}

.carousel-inner {
  
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; /* Carousel'i navbar'ın arkasında yapar */
  margin-bottom: 25px;
}


.information-wrapper {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.information-text-position {
  letter-spacing: 0.2px;
}

.kampanya {
  margin-bottom: 25px;
}

.kampanya-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.zoom {
  padding: 50px;
  border-radius: 10px;
  background-color: #f04f53;
  transition: transform 0.2s;
  width: 500px;
  height: 200px;
  margin: auto;
}

.zoom:hover {
  transform: scale(1.05);
}


/* Responsive düzenlemeler */
@media (max-width: 768px) {

  .search-bar{
    width: 80%;
    margin: 0 auto;
  }

  .kampanya-container {
    flex-direction: column;
    gap: 20px;
  }

  .zoom {
    width: 90%;
    height: auto;
    padding: 30px;
  }

  .footer-sütun {
    flex-direction: row;
    align-items: center;
    justify-content: center; /* Sütunları yatay olarak ortalar */
  }

  .sütun {
    width: 90%;
    margin-bottom: 30px;
    text-align: center;
  }

  .sütun span {
    padding-left: 0;
  }

  .carousel-item img {
    height: auto; 
    max-width: 100%; 
  }

}
