yardım sayfası
<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <title>Yardım Sayfası</title>
  <style>
    html {
      scroll-behavior: smooth;
    }

    section {
      padding: 50px;
      min-height: 500px;
      border-bottom: 1px solid #ccc;
    }
  </style>
</head>
<body>

  <h1>Yardım Sayfası</h1>

  <section id="sss">
    <h2>Sıkça Sorulan Sorular</h2>
    <p>Burada kullanıcıların sıkça sorduğu sorular yer alır.</p>
  </section>

  <section id="iade">
    <h2>İade</h2>
    <p>İade politikamız hakkında bilgiler burada yer alır.</p>
  </section>

  <section id="kargo">
    <h2>Kargo</h2>
    <p>Kargo süreciyle ilgili bilgiler burada.</p>
  </section>
  <section id="puan">
    <h2>Forumda nasıl puan kazanılır?</h2>
    <p>siz de nealmalıda yerinizi alın, fırsatları kaçırmayın!</p>
  </section>

</body>
</html>
