{% extends 'base.html' %}
{% load static %}
{% block title %} NeAlmalı {% endblock  %}

{% block link %}
  <link rel="stylesheet" href={% static 'css/main.css'%}>
{% endblock %}

{% block message %}
  {% include 'message_box.html' %}
{% endblock message %}
{% block body_class %}index-page{% endblock %}
{% block content %}
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="1"
        aria-label="Slide 2"></button>

    </div>

    <div class="carousel-inner">

      <div class="carousel-item active" data-bs-interval="2000">
        <a href={% url 'shopping' %}>
          <img src={% static 'pictures/shopgo.png' %} class="d-block w-100 carousel-img " alt="..." width="500" height="350">
        </a>
      </div>

      <div class="carousel-item" data-bs-interval="2000">
        <a href={% url 'forum_page' %}>
          <img src={% static 'pictures/forumgo.png' %} class="d-block w-100 carousel-img  " alt="..." width="500" height="350">
        </a>
      </div>

    
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="kampanya-container">
    <div class="kampanya">
      <a href="forum.html">
        <div class="zoom">
          <img src={% static 'pictures/kampanya1.png' %} width="750" height="400">
        </div>
      </a>
    </div>
    <div class="kampanya">
      <a href="forum.html">
        <div class="zoom">
          <img src={% static 'pictures/kampanya2.png' %} width="750" height="400">
        </div>
      </a>
    </div>
  </div>

  <div class="information-container">
    <div class="information-wrapper">
      <div class="information-content-title">
       <h2>NeAlmalı</h2>
        <p>NeAlmalı, giyim alışverişinizi kolaylaştıran, en uygun fiyatlarla en yeni koleksiyonları keşfetmenizi sağlayan bir platformdur. Alışverişin keyfini çıkarın, ihtiyacınız olan her şey tek tıkla kapınızda!</p>
      </div>
      <div class="information-text-pozition">
        <h2>NeAlmalı Forum</h2>
        <p>NeAlmalı, kullanıcılarına sadece alışveriş değil, aynı zamanda giyim konusunda tavsiyeler alabilecekleri bir forum da sunmaktadır. En beğendiğiniz tarzı keşfedin ve başkalarıyla paylaşın!</p>
      </div>
    </div>
  </div>
  {% endblock %}
  
  {% block script %}
   <script src="main.js"></script>
  {% endblock  %}