{%load static%}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NeAlmalı - Giriş Yap</title>
    <link rel="stylesheet" href={% static "css/login.css" %}>
</head>
<body>
    <div class="container reverse-layout">
        <div class="form-container">
            <h2>Giriş Yap</h2>
            <form id="loginForm">
                <label>Email Adresi</label>
                <input type="email" id="email" required>

                <label>Şifre</label>
                <div class="password-field">
                    <input type="password" id="password" required>
                </div>

                <button type="submit" class="login-btn">GİRİŞ YAP</button>
                <p>Hesabın yok mu? <!--sayfalar arası geçiş-->
                    <a href={% url 'register'%} class="register-btn">KAYIT OL</a>
            </p>

            </form>
        </div>

        <div class="illustration">
            <img src="/resim.jpeg" alt="Görsel">
        </div>
    </div>
</body>
</html>
