{%load static%}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <title>NeAlmalı - Giriş Yap</title>
    <link rel="stylesheet" href={% static "css/login.css" %}>
</head>
<body>

    {% include 'message_box.html' %}

    <div class="container reverse-layout">
        <div class="form-container">
            <h2>Giriş Yap</h2>
            <form method="POST">
                {% csrf_token %}
                <label>Email Adresi</label>
                <input type="email" name="email" required>

                <label>Şifre</label>
                <div class="password-field">
                    <input type="password" name="password" required>
                </div>

                <button type="submit" class="login-btn">GİRİŞ YAP</button>
                <p>Hesabın yok mu? 
                    <a href="{% url 'register' %}" class="register-btn">KAYIT OL</a>
                </p>
            </form>
        </div>

        <div class="illustration">
            <img src="/resim.jpeg" alt="Görsel">
        </div>
    </div>
</body>
</html>
