{%load static%}
<!DOCTYPE html>
<html lang="tr">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <title>NeAlmalı - Kayıt Ol</title>
    <link rel="stylesheet" href={% static "css/register.css" %}>
</head>
<body>

    {% include 'message_box.html' %}

    <div class="container">
        <div class="illustration">
            <img src="/resim.jpeg" alt="Görsel">
        </div>
        <div class="form-container">
            <h2>Hesap Oluştur</h2>
            <form method="POST">
                {% csrf_token %}
                <label>Ad Soyad</label>
                <input type="text" name="full_name" required>
            
                <label>Email Adresi</label>
                <input type="email" name="email" required>
            
                <label>Şifre</label>
                <div class="password-field">
                    <input type="password" id="password" name="password" required>
                    <span class="toggle-password" onclick="togglePassword('password')">👁</span>
                </div>
            
                <label>Şifre Tekrar</label>
                <div class="password-field">
                    <input type="password" id="confirmPassword" name="confirm_password" required>
                    <span class="toggle-password" onclick="togglePassword('confirmPassword')">👁</span>
                </div>
            
                <button type="submit" class="register-btn">KAYIT OL</button>
                <p>Zaten bir hesabın var mı?
                    <a href="{% url 'login_view' %}" class="login-btn">GİRİŞ YAP</a>
                </p>
            </form>
        </div>
    </div>

    {% block script %}
  <script src="{% static 'js/main.js' %}"></script>
{% endblock %}
</body>
</html>
