{% extends "base.html" %}
{%load static%}
{% load image_filters %}

{% block title %}NeAlmalı - Shopping{% endblock %}
    
{% block link %}
    <link rel="stylesheet" href={% static 'css/shop.css'%}>
{% endblock %}    
  
{% block message %}
    {% include 'message_box.html' %}
{% endblock message %}

{%block search-bar%}
<!-- Arama çubuğu -->
 <form method="get" action="{% url 'shop_categories' category_id=1 %}">
  <div class="search-bar">
    <div class="input-group">
      <input type="text" name="q" class="form-control" placeholder="Ürün ara..." value="{{ query }}">
      <button class="input-group-text" type="submit">
        <i class="bi bi-search"></i>
      </button>
    </div>
  </div>
</form>
{%endblock search-bar%}
    
{% block content %}
    <div class="shop-hero"><!--banner resmi-->
      <img src={% static "pictures/shopbanner.png"%} alt="banner" class="shop-banner" style="width: 100%;">
    </div>
    <div class="kategori-container"><!-- kategoriler kısmı-->
      {% for category in categories %}
        {% if not category.parent %}
          <div class="kategori-kutu-dropdown">
            <div class="kategori-kutu">
              <a href="{% url 'shop_categories' category.id %}">{{ category.name }}</a>
            </div>
            
            {% if category.get_children %}
            <div class="mega-menu">
              {% for child in category.get_children %}
                <div class="mega-column">
                  <h4><a href="{% url 'shop_categories' child.id %}">{{ child.name }}</a></h4>
                  
                  {% if child.get_children %}
                    {% for sub in child.get_children %}
                    <a href="{% url 'shop_categories' sub.id %}">{{ sub.name }}</a>
                    {% endfor %}
                  {% endif %}
                </div>
              {% endfor %}
            </div>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
   </div>
   
   <div class="slider-container"><!-- kayan ürünler menüsü-->
    <button class="nav-btn left-btn">&#10094;</button>
  
    <div class="slider-track">
      {% for product in products %}
        <div class="slide">
          <div class="product-wrap">
              <a href="{% url 'product_info' product.id %}"> 
              
              <div class="product-img">
                {% with product.images|get_main_image as main_image %}
                  {% if main_image %}
                    
                      <img src="{{ main_image.image.url }}" alt="{{ product.name }}" />
                    
                  {% else %}
                    <p>Görsel yok</p>
                  {% endif %}
                {% endwith %}
              </div>
              </a>
              <div class="product-info">
                <div class="rating">
                  {% if product.average_rating %}
                    <i class="bi bi-star-fill text-warning"></i>
                    <span class="text-muted">({{ product.average_rating|floatformat:1 }})</span>
                  {% else %}
                    <span class="text-muted">Yorum yok</span>
                  {% endif %}
                </div>

                <h6 class="urun-baslik">{{ product.name }}</h6>
                <div class="urun-fiyat">{{ product.price }} TL</div>
              </div>
            
            </div>
          
        </div>

        
      {% endfor %}
      
    </div>
  
    <button class="nav-btn right-btn">&#10095;</button>
  </div>
  
   <div class="campaign-container"><!-- indirimler,kampanyalar,kuponlar,çeşitli koleksiyonlar ve daha fazlasını belirtmek üzere oluştrduğumuz görsel kısım-->
    <div class="campaign">
      <div class="zoom2">
          <img src="{% static 'pictures/shopcam.png' %}" alt="indirim" class="indirim-img" style="width: 100%; height: 100%;">
        </div>
    </div>
    <div class="campaign">
      <div class="zoom2">
          <img src="{% static 'pictures/kampanya2.png' %}" alt="indirim" class="indirim-img" style="width: 100%; height: 100%;">
        </div>
    </div>
    <div class="campaign">
      <div class="zoom2">
          <img src="{% static 'pictures/shopcam3.png' %}" alt="indirim" class="indirim-img" style="width: 100%; height: 100%;">
        </div>
    </div>
   </div>
  

  <div class="kategori-alt-wrap"><!--öne çıkarılan kategorileri sayfanın altında gösteriyoruz-->
    <div class="kateg-cap">
      <h5>Öne Çıkan Kategoriler</h5>
    </div> 
    <div class="kategori-alt-container">
      {% for category in highlighted_categories %}
        <div class="kategori-alt">
          <a href="{% url 'shop_categories' category.id %}">
            <div class="zoom1">
              {% if category.image %}
                <img class="resim1" src="{{ category.image.url }}" alt="{{ category.name }}">
              {% endif %}

              {% if category.hover_image %}
                <img class="resim2" src="{{ category.hover_image.url }}" alt="{{ category.name }} hover">
              {% endif %}
            </div>
            <p style="text-align: center; margin-top: 10px;">{{ category.name }}</p>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
  

{% endblock  %}  

{% block script %}
  <script src={% static 'js/main.js' %}></script>
{% endblock  %}
