{% extends "base.html" %}
{%load static%}

{% block link %}
  <link rel="stylesheet" href={% static 'css/shop_categ.css' %}>
{% endblock  %}

{% block title %}NeAlmalı - Shop{% endblock %}

{% include 'message_box.html' %}

{% block content %}
    <div class="shop-hero">
        <img src="/pictures/shopbanner.png">
    </div>
  
    <div class="cat-cap"><!-- kategori sayfasının başlığı-->
      <h2>.. kategorisi için ürünler</h2>
    </div>
  
    <div class="sayfa-wrapper"><!-- filtreleme kısmı ve ürünleri ayırdık sağ sol olacak şekilde-->

      <div class="filter-sidebar"><!--filtre kısmı-->
        <div class="filter-box">
          <h5>Categories</h5>
          <ul class="filter-list">
            <li>Accessories <span>(3)</span></li>
            <li>Bedroom <span>(5)</span></li>
            <li>Clothing <span>(6)</span></li>
            <li>Furniture <span>(8)</span></li>
            <li>Handbag <span>(4)</span></li>
            <li>Laptops & Desktops <span>(4)</span></li>
            <li>Livingroom <span>(5)</span></li>
            <li>Men <span>(10)</span></li>
            <li>Mobiles & Tablets <span>(7)</span></li>
            <li>Shoes <span>(7)</span></li>
            <li>Sport & Outdoors <span>(4)</span></li>
            <li>Toy, Kids & Baby <span>(8)</span></li>
            <li>Women <span>(2)</span></li>
          </ul>
        </div>
        
        <div class="filter-box">
          <h5>Color</h5>
          <ul class="filter-list">
            <li>Gold <span>(1)</span></li>
            <li>Silver <span>(3)</span></li>
            <li>Black <span>(5)</span></li>
          </ul>
        </div>
        
        <div class="filter-box">
          <h5>Filter By Price</h5>
          <input type="range" min="0" max="1000" value="250" class="price-range">
          <div class="price-values">
            Price: $<span id="min-price">0</span> – $<span id="max-price">1000</span>
          </div>
          <button class="filter-button">Filter</button>
        </div>
       
      </div>

      <div class="products"><!--ürünler kısmı-->
        <div class="product-wrap"><!--her ürün küçük paketlere bölündü ve resimle bilgilerin görüntüsü ayarlandı-->
          <div class="product-img">
            <img src={% static 'pictures/imageplaceholder.png' %} alt="Ürün 1" class="main-img">
            <img src={% static 'pictures/imageplaceholder2.png' %} alt="Ürün 1 Hover" class="hover-img">
          </div>
          <div class="product-info">
            <span class="rating">⭐⭐⭐☆☆</span>
            <h6 class="urun-baslik">retro saat</h6>
            <div class="urun-fiyat">$100.00</div>
            <button class="urun-button">sepete ekle</button>
          </div>
          
        </div>
        <div class="product-wrap">
          <div class="product-img">
            <img src={% static 'pictures/imageplaceholder.png' %} alt="Ürün 1" class="main-img">
            <img src={% static 'pictures/imageplaceholder2.png' %} alt="Ürün 1 Hover" class="hover-img">
          </div>
          <div class="product-info">
            <span class="rating">⭐⭐⭐☆☆</span>
            <h6 class="urun-baslik">retro saat</h6>
            <div class="urun-fiyat">$100.00</div>
            <button class="urun-button">sepete ekle</button>
          </div>
          
        </div>
        <div class="product-wrap">
          <div class="product-img">
            <img src={% static 'pictures/imageplaceholder.png' %} alt="Ürün 1" class="main-img">
            <img src={% static 'pictures/imageplaceholder2.png' %} alt="Ürün 1 Hover" class="hover-img">
          </div>
          <div class="product-info">
            <span class="rating">⭐⭐⭐☆☆</span>
            <h6 class="urun-baslik">retro saat</h6>
            <div class="urun-fiyat">$100.00</div>
            <button class="urun-button">sepete ekle</button>
          </div>
          
        </div>
        <div class="product-wrap">
          <div class="product-img">
            <img src={% static 'pictures/imageplaceholder.png' %} alt="Ürün 1" class="main-img">
            <img src={% static 'pictures/imageplaceholder2.png' %} alt="Ürün 1 Hover" class="hover-img">
          </div>
          <div class="product-info">
            <span class="rating">⭐⭐⭐☆☆</span>
            <h6 class="urun-baslik">retro saat</h6>
            <div class="urun-fiyat">$100.00</div>
            <button class="urun-button">sepete ekle</button>
          </div>
          
        </div>
        <div class="product-wrap">
          <div class="product-img">
            <img src={% static 'pictures/imageplaceholder.png' %} alt="Ürün 1" class="main-img">
            <img src={% static 'pictures/imageplaceholder2.png' %} alt="Ürün 1 Hover" class="hover-img">
          </div>
          <div class="product-info">
            <span class="rating">⭐⭐⭐☆☆</span>
            <h6 class="urun-baslik">retro saat</h6>
            <div class="urun-fiyat">$100.00</div>
            <button class="urun-button">sepete ekle</button>
          </div>
          
        </div>
        

       
 
          <!-- Diğer ürünler aynı şekilde buraya -->
           
      </div>
      
        
    </div>
  
    {% endblock  %}  
    
    {% block script %}
      <script src={% static 'main.js' %}></script>
    {% endblock  %}