{% extends "base.html" %}
{%load static%}

{% block title %}NeAlmalı - Shopping{% endblock %}
    
{% block link %}
    <link rel="stylesheet" href={% static 'css/shop.css'%}>
{% endblock %}    
  
{% block message %}
    {% include 'message_box.html' %}
{% endblock message %}

{%block search-bar%}
<!-- Arama çubuğu -->
 <form method="get" action="{% url 'shop_categories' category_id=1 %}">
  <div class="search-bar">
    <div class="input-group">
      <input type="text" name="q" class="form-control" placeholder="Ürün ara..." value="{{ query }}">
      <button class="input-group-text" type="submit">
        <i class="bi bi-search"></i>
      </button>
    </div>
  </div>
</form>
{%endblock search-bar%}
    
{% block content %}
    <div class="shop-hero"><!--banner resmi-->
      <img src="/pictures/shopbanner.png">
    </div>

    <div class="kategori-container"><!-- kategoriler kısmı-->
      {% for category in categories %}
        {% if not category.parent %}
          <div class="kategori-kutu-dropdown">
            <div class="kategori-kutu">
              <a href="{% url 'shop_categories' category.id %}">{{ category.name }}</a>
            </div>
            
            {% if category.get_children %}
            <div class="mega-menu">
              {% for child in category.get_children %}
                <div class="mega-column">
                  <h4><a href="{% url 'shop_categories' child.id %}">{{ child.name }}</a></h4>
                  
                  {% if child.get_children %}
                    {% for sub in child.get_children %}
                    <a href="{% url 'shop_categories' sub.id %}">{{ sub.name }}</a>
                    {% endfor %}
                  {% endif %}
                </div>
              {% endfor %}
            </div>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
   </div>
   
   <div class="slider-container"><!-- kayan ürünler menüsü-->
    <button class="nav-btn left-btn">&#10094;</button>
  
    <div class="slider-track">
      <div class="slide">Ürün 1</div>
      <div class="slide">Ürün 2</div>
      <div class="slide">Ürün 3</div>
      <div class="slide">Ürün 4</div>
      <div class="slide">Ürün 1</div> <!-- Tekrarlar için -->
      <div class="slide">Ürün 2</div>
      <div class="slide">Ürün 3</div>
      <div class="slide">Ürün 4</div>
    </div>
  
    <button class="nav-btn right-btn">&#10095;</button>
  </div>
  
   <div class="campaign-container"><!-- indirimler,kampanyalar,kuponlar,çeşitli koleksiyonlar ve daha fazlasını belirtmek üzere oluştrduğumuz görsel kısım-->
    <div class="campaign">
      <a href="#">
        <div class="zoom2">
          <p>indirim</p>
         
        </div>
      </a>
    </div>
    <div class="campaign">
      <a href="#">
        <div class="zoom2">
          <p>en yeniler</p>
          
        </div>
      </a>
    </div>
    <div class="campaign">
      <a href="#">
        <div class="zoom2">
          <p>özel koleksiyonlar</p>
        </div>
      </a>
    </div>
   </div>
  

  <div class="kategori-alt-wrap"><!--öne çıkarılan kategorileri sayfanın altında gösteriyoruz-->
    <div class="kateg-cap">
      <h5>öne çıkan kategoiler</h5>
      <p>metin metin metin metin</p>
    </div> 
    <div class="kategori-alt-container">
      <div class="kategori-alt">
        <a href="#">
          <div class="zoom1">
            <p>Kadın</p>
            <img class="resim1" src={% static 'pictures/imageplaceholder.png' %} width="150" height="150" alt="ana resim">
            <img class="resim2" src={% static 'pictures/imageplaceholder2.png' %} width="150" height="150" alt="hover resim">
          </div>
        </a>
      </div>

      <div class="kategori-alt">
        <a href="#">
          <div class="zoom1">
            <p>Erkek</p>
            <img class="resim1" src={% static 'pictures/imageplaceholder.png'%} width="150" height="150" alt="ana resim">
            <img class="resim2" src={% static 'pictures/imageplaceholder2.png'%} width="150" height="150" alt="hover resim">

          </div>
        </a>
      </div>
      <div class="kategori-alt">
        <a href="#">
          <div class="zoom1">
            <p>Bilgisayar</p>
            <img class="resim1" src={% static 'pictures/imageplaceholder.png'%} width="150" height="150" alt="ana resim">
            <img class="resim2" src={% static 'pictures/imageplaceholder2.png'%} width="150" height="150" alt="hover resim">

          </div>
        </a>
      </div>
      <div class="kategori-alt">
        <a href="#">
          <div class="zoom1">
            <p></p>
            <img class="resim1" src={% static 'pictures/imageplaceholder.png'%} width="150" height="150" alt="ana resim">
            <img class="resim2" src={% static 'pictures/imageplaceholder2.png'%} width="150" height="150" alt="hover resim">

          </div>
        </a>
      </div>
      <div class="kategori-alt">
        <a href="#">
          <div class="zoom1">
            <img class="resim1" src={% static 'pictures/imageplaceholder.png'%} width="150" height="150" alt="ana resim">
            <img class="resim2" src={% static 'pictures/imageplaceholder2.png'%} width="150" height="150" alt="hover resim">

          </div>
        </a>
      </div>
      <div class="kategori-alt">
        <a href="#">
          <div class="zoom1">
            <img class="resim1" src={% static 'pictures/imageplaceholder.png'%} width="150" height="150" alt="ana resim">
            <img class="resim2" src={% static 'pictures/imageplaceholder2.png'%} width="150" height="150" alt="hover resim">

          </div>
        </a>
      </div>
    </div>
  </div>
  

{% endblock  %}  

{% block script %}
  <script src={% static 'js/main.js' %}></script>
{% endblock  %}
