{% extends "base.html" %}
{%load static%}
{% load image_filters %}

{% block link %}
  <link rel="stylesheet" href={% static 'css/shop_categ.css' %}>
{% endblock  %}

{% block title %}NeAlmalı - Shop{% endblock %}

{% include 'message_box.html' %}

{% block content %}
    <div class="shop-hero">
        <img src="/pictures/shopbanner.png">
    </div>
  
    <div class="cat-cap"><!-- kategori sayfasının başlığı-->
      <h2>{{category.name}} kategorisi için ürünler</h2>
    </div>
  
    <div class="sayfa-wrapper"><!-- filtreleme kısmı ve ürünleri ayırdık sağ sol olacak şekilde-->

      <div class="filter-sidebar"><!--filtre kısmı-->
        <div class="filter-box">
          <h5>Categories</h5>
          <ul class="filter-list">
            {% for subcategory in subcategories %}
                <li>
                  <a href="{% url 'shop_categories' subcategory.id %}">
                    {{ subcategory.name }} 
                  </a>
                </li>
              {% empty %}
                <li>Alt kategori yok</li>
              {% endfor %}
          </ul>
        </div>
        
        <div class="filter-box">
          <h5>Color</h5>
          <ul class="filter-list">
            <li>Gold <span>(1)</span></li>
            <li>Silver <span>(3)</span></li>
            <li>Black <span>(5)</span></li>
          </ul>
        </div>
        
        <div class="filter-box">
          <h5>Filter By Price</h5>
          <input type="range" min="0" max="1000" value="250" class="price-range">
          <div class="price-values">
            Price: $<span id="min-price">0</span> – $<span id="max-price">1000</span>
          </div>
          <button class="filter-button">Filter</button>
        </div>
       
      </div>

      <div class="products"><!--ürünler kısmı-->
        {% for product in products %}
            <div class="product-wrap">
              <a href="{% url 'product_info' product.id %}"> 
              
              <div class="product-img">
                {% with main_image=product.images.all|get_main_image hover_image=product.images.all|get_hover_image %}
                  {% if main_image %}
                    <img src="{{ main_image.image.url }}" alt="{{ product.name }}" class="main-img">
                  {% else %}
                    <img src="{% static 'pictures/imageplaceholder.png' %}" alt="{{ product.name }}" class="main-img">
                  {% endif %}
              
                  {% if hover_image %}
                    <img src="{{ hover_image.image.url }}" alt="{{ product.name }} Hover" class="hover-img">
                  {% else %}
                    <img src="{% static 'pictures/imageplaceholder2.png' %}" alt="{{ product.name }} Hover" class="hover-img">
                  {% endif %}
                {% endwith %}
              </div>
              
              <div class="product-info">
                <span class="rating">⭐⭐⭐☆☆</span>
                <h6 class="urun-baslik">{{ product.name }}</h6>
                <div class="urun-fiyat">${{ product.price }}</div>
                <button class="urun-button">sepete ekle</button>
              </div>
            </a>
            </div>
          {% endfor %}
          {% if not products %}
            <div class="no-products">
              <p>Bu kategoride ürün bulunmamaktadır.</p>
            </div>
          {% endif %}
      </div>

    </div>
  
    {% endblock  %}  
    
    {% block script %}
      
    {% endblock  %}