{% extends "base.html" %}
{%load static%}

{% block title %}NeAlmalı - Shopping{% endblock %}
    
{% block link %}
    <link rel="stylesheet" href={% static 'css/shop.css'%}>
{% endblock %}    
  
{% block message %}
    {% include 'message_box.html' %}
{% endblock message %}

{%block search-bar%}
<!-- Arama çubuğu -->
 <div class="search-bar">
  <div class="input-group">
  <input type="text" class="form-control" placeholder="" aria-label="Search">
  <button class="input-group-text">
      <i class="bi bi-search"></i>
  </button>

  </div>
</div>
{%endblock search-bar%}
    
{% block content %}
    <div class="shop-hero"><!--banner resmi-->
      <img src="/pictures/shopbanner.png">
    </div>

    <div class="kategori-container"><!-- kategoriler kısmı-->
  
      <div class="kategori-kutu-dropdown">
        <div class="kategori-kutu">Elektronik</div>
        <div class="mega-menu">

          <div class="mega-column">
            <h4> <a href="#">Telefon</a></h4>
          </div>
          <div class="mega-column">
            <h4> <a href="#">Bilgisayar</a></h4>
          </div>
          
          <div class="mega-column">
            <h4>Ev Eşyası</h4>
            <a href="#">Televizyon</a>
            <a href="#">Mutfak</a>
            <a href="#">Beyaz Eşya</a>
          </div>
          <div class="mega-column">
            <h4>Elektronik Aksesuarları</h4>
            <a href="#">Kılıf</a>
            <a href="#">Kulaklık</a>
            <a href="#">Hoparlör</a>
            <a href="#">Çanta</a>
            <a href="#">Şarj Aletleri</a>
          </div>
        </div>
      </div>
      <div class="kategori-kutu-dropdown">
        
        <div class="kategori-kutu">
          <a href={% url 'shop_categories' %}>Moda</a>
        </div>
        <div class="mega-menu">
  
          <div class="mega-column">
            <h4>Giyim</h4>
            <a href="#">Tişört</a>
            <a href="#">Gömlek</a>
            <a href="#">Kazak</a>
            <a href="#">Mont</a>
            <a href="#">ceket</a>
            <a href="#">Mont</a>
            <a href="#">Pantolon</a>
            <a href="#">Şort</a>
            <a href="#">Etek</a>
            <a href="#">Elbise</a>
            <a href="#">Pijama</a>
          </div>
          <div class="mega-column">
            <h4>Ayakkabı</h4>
            <a href="#">Sneaker</a>
            <a href="#">Bot</a>
            <a href="#">Terlik</a>
          </div>
          <div class="mega-column">
            <h4>Aksesuar</h4>
            <a href="#">Saat</a>
            <a href="#">Takı</a>
            <a href="#">Cüzdan</a>
            <a href="#">Kemer</a>
            <a href="#">Gözlük</a>
            <a href="#">Çanta</a>
          </div>
        </div>
      </div>
      <div class="kategori-kutu-dropdown">
        <div class="kategori-kutu">Hobi</div>
        <div class="mega-menu">
  
          <div class="mega-column">
            <h4><a href="#">Müzik</a></h4>
            
          </div>
          <div class="mega-column">
            <h4><a href="#">Sanat</a></h4>
            
          </div>
          <div class="mega-column">
            <h4>Kitap</h4>
            <a href="#">Edebiyat</a>
            <a href="#">Eğitim</a>
            <a href="#">Çocuk</a>
          </div>

          <div class="mega-column">
            <h4>Oyun</h4>
            <a href="#">Konsol</a>
            <a href="#">Masa Oyunu</a>
          </div>
        </div>
      </div>
      <div class="kategori-kutu-dropdown">
        <div class="kategori-kutu">Ev & Bahçe</div>
        <div class="mega-menu">
   
        <div class="mega-column">
          <h4><a href="#">Bahçe Mobilyaları</a></h4>
        </div>
        <div class="mega-column">
          <h4><a href="#">Dekorasyon</a></h4>
        </div>
        <div class="mega-column">
          <h4><a href="#">Bahçe Malzemeleri</a></h4>
        </div>
            
        </div>
      </div>
      <div class="kategori-kutu-dropdown">
        <div class="kategori-kutu">Spor</div>
        <div class="mega-menu">
  
          <div class="mega-column">
            <h4><a href="#">Toplar</a></h4>
          </div>
          <div class="mega-column">
            <h4><a href="#">Formalar</a></h4>
          </div>
          <div class="mega-column">
            <h4><a href="#">Araç-Gereç</a></h4>
          </div>
        </div>
      </div>
      <div class="kategori-kutu-dropdown">
        <div class="kategori-kutu">ofis&kırtasiye</div>
        <div class="mega-menu">
   
          <div class="mega-column">
            <a href="#">..</a>
            <a href="#">..</a>
            <a href="#">..</a>
          </div>
          </div>
        </div>
      </div>
   </div>
   
   <div class="slider-container"><!-- kayan ürünler menüsü-->
    <button class="nav-btn left-btn">&#10094;</button>
  
    <div class="slider-track">
      <div class="slide">Ürün 1</div>
      <div class="slide">Ürün 2</div>
      <div class="slide">Ürün 3</div>
      <div class="slide">Ürün 4</div>
      <div class="slide">Ürün 1</div> <!-- Tekrarlar için -->
      <div class="slide">Ürün 2</div>
      <div class="slide">Ürün 3</div>
      <div class="slide">Ürün 4</div>
    </div>
  
    <button class="nav-btn right-btn">&#10095;</button>
  </div>
  
   <div class="campaign-container"><!-- indirimler,kampanyalar,kuponlar,çeşitli koleksiyonlar ve daha fazlasını belirtmek üzere oluştrduğumuz görsel kısım-->
    <div class="campaign">
      <a href="#">
        <div class="zoom2">
          <p>indirim</p>
         
        </div>
      </a>
    </div>
    <div class="campaign">
      <a href="#">
        <div class="zoom2">
          <p>en yeniler</p>
          
        </div>
      </a>
    </div>
    <div class="campaign">
      <a href="#">
        <div class="zoom2">
          <p>özel koleksiyonlar</p>
        </div>
      </a>
    </div>
   </div>
  

  <div class="kategori-alt-wrap"><!--öne çıkarılan kategorileri sayfanın altında gösteriyoruz-->
    <div class="kateg-cap">
      <h5>öne çıkan kategoiler</h5>
      <p>metin metin metin metin</p>
    </div> 
    <div class="kategori-alt-container">
      <div class="kategori-alt">
        <a href="#">
          <div class="zoom1">
            <p>Kadın</p>
            <img class="resim1" src={% static 'pictures/imageplaceholder.png' %} width="150" height="150" alt="ana resim">
            <img class="resim2" src={% static 'pictures/imageplaceholder2.png' %} width="150" height="150" alt="hover resim">
          </div>
        </a>
      </div>

      <div class="kategori-alt">
        <a href="#">
          <div class="zoom1">
            <p>Erkek</p>
            <img class="resim1" src={% static 'pictures/imageplaceholder.png'%} width="150" height="150" alt="ana resim">
            <img class="resim2" src={% static 'pictures/imageplaceholder2.png'%} width="150" height="150" alt="hover resim">

          </div>
        </a>
      </div>
      <div class="kategori-alt">
        <a href="#">
          <div class="zoom1">
            <p>Bilgisayar</p>
            <img class="resim1" src={% static 'pictures/imageplaceholder.png'%} width="150" height="150" alt="ana resim">
            <img class="resim2" src={% static 'pictures/imageplaceholder2.png'%} width="150" height="150" alt="hover resim">

          </div>
        </a>
      </div>
      <div class="kategori-alt">
        <a href="#">
          <div class="zoom1">
            <p></p>
            <img class="resim1" src={% static 'pictures/imageplaceholder.png'%} width="150" height="150" alt="ana resim">
            <img class="resim2" src={% static 'pictures/imageplaceholder2.png'%} width="150" height="150" alt="hover resim">

          </div>
        </a>
      </div>
      <div class="kategori-alt">
        <a href="#">
          <div class="zoom1">
            <img class="resim1" src={% static 'pictures/imageplaceholder.png'%} width="150" height="150" alt="ana resim">
            <img class="resim2" src={% static 'pictures/imageplaceholder2.png'%} width="150" height="150" alt="hover resim">

          </div>
        </a>
      </div>
      <div class="kategori-alt">
        <a href="#">
          <div class="zoom1">
            <img class="resim1" src={% static 'pictures/imageplaceholder.png'%} width="150" height="150" alt="ana resim">
            <img class="resim2" src={% static 'pictures/imageplaceholder2.png'%} width="150" height="150" alt="hover resim">

          </div>
        </a>
      </div>
    </div>
  </div>
  

{% endblock  %}  

{% block script %}
  <script src={% static 'js/main.js' %}></script>
{% endblock  %}
